/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/src/main/resources/types/
/src/main/resources/report.csv
/src/main/resources/databaseBackup
/src/main/resources/matchesOrdered
/src/main/resources/groupFinalResult.csv